



.navColor {
    background-color:#072a43;
    
}


h1 {
    font-weight: 300;
    font-family: 'lato';
    font-size:52px;
    color:white;
}

h3 {
    font-weight: 300;
    font-family: 'lato';
    font-size:32px;
    color:white;
    margin-bottom:3%;
}

hr {
    border-color: white; 
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 15%;
    margin-top:20px;
    margin-bottom: 50px;
    
   
}


p {
    color:white;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 2px;
}


body {
    background-color: #0a3d62 ;
}

.profileImg {
    width:160px;
    height:160px;
    border:2px solid #66BFBF; 
    border-radius: 100%;
}

.deviceGif {
    width:520px;
    height:520px;
}

.someMargin {
    margin-left:10%;
    margin-top:4%;
}

.colorAccent {
    color:#66BFBF;
    font-weight: 400;
}

.letsMargin {
    padding-top:80px;
    padding-left: 8%;
}

.letsMargin2 {
    padding-top:200px;
    padding-left:10%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    width:20px;
    height: 20px;
}

.portButton {
    margin-top: 10px;
}

.someShadow {
    -webkit-box-shadow: 1px 4px 15px -1px rgba(5,32,52,0.72); 
    box-shadow: 1px 4px 15px -1px rgba(5,32,52,0.72);
    }

.skills {
    background-color:#27496d;
     
}

.profileSize {
    width:200px;
    height:200px;
}   

.demo {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px -8px 25px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 10px 13px -7px #000000, 5px -8px 25px 5px rgba(0,0,0,0.37);
    }

.extraPadding {
    padding-top: 5%;
    padding-bottom:5%;
}    

.footerContainer {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #204051;
    text-align: center;
    
}

.iconEdits {
    width:70px;
    padding-left:10px;
    padding-right:10px;
    transition: width .6s;
}

.pEdit {
    margin-top:2%;
}

.someFloat1 {
    float: left;
    margin-right: 5%;
}

.someFloat2 {
    float: right;
    margin-left: 5%;
}

.skill-row {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    line-height: 1.5;
    text-align: left;
    margin-bottom:6%;
    
    }

    .letsCenter {
        text-align: center;
    }

    .spaceForButton {
        margin-bottom:30px;
    }

    .devColor {
        color:#bfdcae;

    }

    .techColor {
        color:#ffbb91;

    }
    

    .portContainer {
        padding: 2%;
        display:inline-block;
        text-align: left;
        border-radius: 15px;
        margin-top:7%;
        margin-bottom: 5%;
        margin-left: 17%;
        max-width:60%;
        height:62%;
        background-color:#072a43;
        
          
    }

    .demoShadow {
        -webkit-box-shadow: 9px 8px 15px 4px #041724; 
        box-shadow: 9px 8px 15px 4px #041724;
        }


    .fb:hover {
        width:80px;
    }   

    .insta:hover {
        width:80px;
    }   

    .gith:hover {
        width:80px;
    }   

    .lin:hover {
        width:80px;
    }   

.letsAnimate {
    visibility: hidden;
}

.coffeeImage {
    width: 20%;
    height: 40%;
}
